html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

#container,
#sidebar {
  height: calc(100vh - 71px);
}

#container {
  display: flex;
  gap: 10px;
}

#logo {
  width: 30px;
  height: 30px;
}
header {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid #808080;
}

#sidebar {
  background-color: #d8d8d8;

  width: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.option {
  width: 44px;
  height: 44px;
  text-align: center;
  font-size: 2rem;
}

#grid-size {
  border: 1px solid #808080;
  border-radius: 8px;
}

#board {
  margin: 0 auto;
  padding:16px;

  box-shadow: 8px 8px 10px #969595;

  align-self: center;

  height: calc(90% - 20px);
  aspect-ratio: 1/1;
  
  border: 8px solid rgb(99, 99, 99);
  border-radius: 32px;

  background-color: rgb(236, 236, 236);

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start ;
}

.grid-item {
  background-color: rgba(0, 0, 0, 0);
  flex:0 0 auto;
  transition: all 0.3s;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}